body {
    background-color: rgb(252, 252, 252);
    box-sizing: border-box;
    color: rgb(64, 64, 64);
    font-family: Lato, proxima-nova, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    min-height: 100%;
    overflow-x: hidden;
    word-break: break-word;
}

body > nav {
    background-color: rgb(52, 49, 49);
    color: rgb(155, 155, 155);
    left: 0px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 54px;
    position: fixed;
    top: 0px;
    width: 300px!important;
}

body > div, body > footer {
    margin-left: 300px!important;
    padding: 0 40px 0 40px;
    background-color: rgb(252, 252, 252)!important;
}

body > footer {
    border-top: 1px solid rgb(210, 220, 216);
    margin-top: 20px!important;
}

/* top navagation bar */

.page-header {
    border-bottom: 1px solid rgb(210, 220, 216);
    background-color: rgb(241, 241, 241);
    box-shadow: none;
    margin-top: 0;
    margin-left: -40px;
    width: calc(100% + 80px);
    padding: 5px 0 5px 0;
    position: relative;
}
/* xref stlyles */

code > a {
    background: rgb(255, 255, 255);
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    border: 2px solid rgb(225, 228, 229);
    border-bottom: 2px solid rgb(225, 228, 229);
    border-color: rgb(225, 228, 229);
    border-left: 2px solid rgb(225, 228, 229);
    border-right: 2px solid rgb(225, 228, 229);
    border-style: solid;
    border-top: 2px solid rgb(225, 228, 229);
    border-width: 2px;
    padding: 1px 5px;
    font-size: 14px;
}

.sourceLink {
    font-size: 14px;
    border: 0;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Header */ 

.page-header > h1 {
    padding-left: 15px;
    margin-top: 5px;
    display: flex;
}

.page-header > h1 code {
    padding: 0;
    font-size: 16px;
}
.page-header > h1 code > a {
    font-size: 16px;
}

/* Titles */

p.caption, h1, h2, h3, h4, h5, h6, legend, .categoryHeader {

    font-weight: bold;
    font-family: "Roboto Slab",Georgia,Arial,sans-serif;
}

.categoryHeader{
    font-size: 20px;
    margin: 15px 0 20px 0;
}

/* Remove anchor hack */
a[name] {
    position: initial;
} 

@media screen and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column 
    }
    body > nav {
        position: relative;
        width: auto!important;
    }
    
    body > div, body > footer {
        margin-left: 0!important;
        width: auto!important;
        padding: 5px 15px 5px 15px;
    }
    
    .navlinks {
        width: auto!important;
    }
    .page-header {
        margin-left: -15px;
        margin-top: -5px;
        width: calc(100% + 30px);
    }
    
}

.navlinks {
    background-color: rgb(41, 128, 185);
    color: rgb(252, 252, 252)!important;
    display: block;
    padding: 20px 0 14px 0;
    text-align: center;
    width: 300px;
}

.navbar-brand {
    display: block;
}

.navbar-brand >  a {
    color: rgb(252, 252, 252)!important;
    padding: 5px!important;
}

.navbar-brand > a:hover, .navlinks > a:hover {
    background-color:rgba(255, 255, 255, 0.1);
    text-decoration: none;
}

.navlinks > a {
    color: rgba(210, 239, 255, 1);
    display: inline-block;
    height: 32px;
    line-height: 32px;
    white-space: nowrap;
    padding: 5px!important;
    margin-left: 5px;
    margin-top: 5px
}

a, a:visited {
    text-decoration:none;
}
a:hover{
    text-decoration: underline;
}

.btn {
    cursor: pointer;
}

.btn-link, a {
    font-weight: 400;
    color: #337ab7;
    border-radius:0;
}

.btn-link, .btn-link.active, .btn-link:active {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow:none
}

.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
    border-color:transparent
}

.btn-link:focus, .btn-link:hover {
    color: #23527c;
    background-color:transparent
}


#splitTables > table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    border: 1px solid rgb(210, 220, 216);
    border-bottom: 0;
    vertical-align: middle;
}

#splitTables > table td {
    border-bottom: 1px solid rgb(210, 220, 216);
}

code, .pre, #childList > div .functionHeader,
#splitTables > table tr td:nth-child(2), .fieldArg {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

code {
    background: transparent;
}

#childList > div {
    margin: 0;
    border: 0;
    padding-left: 0;
}

#childList > div .functionHeader {
    background: rgb(240, 240, 240);
    border-left: 3px solid rgb(204, 204, 204);
    border-width: 0px 0px 0px 3px;
    margin: 0px 0px 6px;
    padding: 6px;
}

.functionBody{
    margin-left: 30px;
}

/* Class definition block */ 

.extrasDocstring > p:first-child{
    background: rgb(231, 242, 250);
    border-top: 3px solid rgb(106, 176, 222);
    display: table;
    margin: 0px 0px 6px;
    padding: 6px;
}

/* Admonitions */

div.rst-admonition p.rst-admonition-title:after {
    content: ":";
}

div.rst-admonition p.rst-admonition-title {
    -webkit-font-smoothing: antialiased;
    background: rgb(106, 176, 222);
    box-sizing: border-box;
    color: rgb(255, 255, 255)!important;
    margin: -12px -12px 12px;
    margin-block-end: 12px;
    margin-block-start: -12px;
    margin-inline-end: -12px;
    margin-inline-start: -12px;
    padding: 6px 12px;
    text-rendering: auto;
}

div.rst-admonition p.rst-admonition-title {
    color: #333333;
}

div.rst-admonition {
    color: rgb(64, 64, 64);
    margin: 0px 0px 24px;
    padding: 12px;
    border: 0;
    border-radius:0;
    
}

div.danger, div.error, div.caution {
    background-color: #fdf3f2;
}

div.warning, div.attention{
    background-color: #ffedcc;
}

div.danger p.rst-admonition-title, div.error p.rst-admonition-title, div.caution p.rst-admonition-title {
    /* color: #b94a48; */
    background-color: #f29f97;
}

div.attention p.rst-admonition-title, div.warning p.rst-admonition-title {
/* color: #b94a48; */
background-color: #f0b37e;
}

div.tip p.rst-admonition-title, div.hint p.rst-admonition-title, div.important p.rst-admonition-title{
    color: #3a87ad;
}

div.tip, div.hint, div.important {
    background-color: #d9edf7;
}

pre {
    box-sizing: border-box;
    color: rgb(64, 64, 64);
    overflow: auto;
    padding: 12px;
    border: 1px solid rgb(225, 228, 229);
    white-space: pre;
    background: rgb(248, 248, 248);
}

#splitTables > table tr td:nth-child(2) {
    width: 250px;
}
@media only screen and (max-width: 1000px){
    #splitTables > table tr td:nth-child(2) {
        width: 35%;
    }
}

@font-face {
    font-family: Lato;
    src: url(fonts/lato-normal.woff2) format("woff2"), url(fonts/lato-normal.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display:block
}

@font-face {
    font-family: Lato;
    src: url(fonts/lato-bold.woff2) format("woff2"), url(fonts/lato-bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display:block
}

@font-face {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Roboto-Slab-Regular.woff2) format("woff2"), url(fonts/Roboto-Slab-Regular.woff) format("woff");
    font-display:block
}

@font-face {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 700;
    src: url(fonts/Roboto-Slab-Bold.woff2) format("woff2"), url(fonts/Roboto-Slab-Bold.woff) format("woff");
    font-display: block
}
